body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
textarea{
  width: 70%;
}
.calculator-wrapper{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  width: 350px;
  height: 450px;
  padding-left: 12px;
  padding-top: 12px;
  /* box-shadow: 1px 1px 3px grey; */
}
/* .calculator h3{
  color:white;
} */
.calculator-display{
  width: 320px;
  height: 60px;
  border: 2px solid black;
  outline: 1px solid white;
  margin: 2px 0px 0px 2px;
  padding: 10px 20px;
  font-size: 38px;
  color:#343148;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: right;
  background-color: #F0EAD6;
  
}
.btn-design{
  margin: 3px;
  width: 75px;
  height: 45px;
  border: 2px solid #6B5B95;
  outline: 1px solid white;
  background-color:white;
  font-size: 20px;
}

.ico{
  vertical-align: middle;
  margin-bottom: 5px;
}
.brandName{
  display: inline;
}
.colorMode{
  display: inline;
  float: right;
  width: 60px;
  height: 21px;
  border-radius: 10px;
  margin-right:15px;
  margin-top: 5px;
  background-image:linear-gradient(to right,#343148,white);
  padding:0px 1px;
  padding-top: 1px;
  transition: all 1s ease-in;
}
.toggle-btn{
  border: 1px solid black;
  border-radius: 8px;
  width:50%;
  height: 19px;
  float: left;
  background-color: transparent;


}